<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <title>Person List</title>
</head>
<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(persons)}">
        <h2>Person List</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.age}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pagination Bar -->
    <div th:fragment="paginationbar">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${page.firstPage}?'disabled':''">
                    <span class="page-link" th:if='${page.firstPage}'>First</span>
                    <a class="page-link" th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>First</a>
                </li>
                <li class="page-item" th:classappend="${page.hasPreviousPage}? '' : 'disabled'">
                    <span class="page-link" th:if='${not page.hasPreviousPage}'>Prev</span>
                    <a class="page-link" th:if='${page.hasPreviousPage}'
                       th:href='@{${page.url}(page=${page.number - 2},size=${page.size})}'
                       title='Go to previous page'>Prev</a>
                </li>
                <li class="page-item" th:each='item : ${page.items}' th:classappend="${item.current}? 'active' : ''">
                    <span class="page-link" th:if='${item.current}' th:text='${item.number}'>1</span>
                    <a class="page-link" th:if='${not item.current}'
                       th:href='@{${page.url}(page=${item.number - 1},size=${page.size})}'><span
                            th:text='${item.number}'>1</span></a>
                </li>
                <li class="page-item" th:classappend="${page.hasNextPage}? '' : 'disabled'">
                    <span class="page-link" th:if='${not page.hasNextPage}'>Next</span>
                    <a class="page-link" th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}'
                       title='Go to next page'>Next</a>
                </li>
                <li class="page-item" th:classappend="${page.lastPage}? 'disabled' : ''">
                    <span class="page-link" th:if='${page.lastPage}'>Last</span>
                    <a class="page-link" th:if='${not page.lastPage}'
                       th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>