<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <title>Person List</title>
</head>
<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(persons)}">
        <h2>Person List</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.age}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pagination Bar -->
    <div th:fragment="paginationbar">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${page.first} ? 'disabled':''" style="display:inline">
                    <span class="page-link" th:if="${page.first}">First</span>
                    <a class="page-link" th:if="${not page.first}" th:href="@{${url}(page=0)}">First</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                    th:classappend="(${i}==${page.number})? 'active':''" style="display:inline">
                    <span class="page-link" th:if="${i}==${page.number}" th:text="${i+1}">1</span>
                    <a class="page-link" th:if="${i}!=${page.number}" th:href="@{${url}(page=${i})}">
                        <span th:text="${i+1}">1</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${page.last} ? 'disabled':''" style="display:inline">
                    <span class="page-link" th:if="${page.last}">Last</span>
                    <a class="page-link" th:if="${not page.last}"
                       th:href="@{${url}(page=(${page.totalPages}-1))}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>